nav{
    /*background-color: orange;*/
    height: 80px;
    width: 100%;
}

div.signature{
    /*background-color: aqua;*/
    height: 250px;
    width: 250px;
}

li{
    list-style: none;
}

li:hover{
font-weight: bolder;
}


footer{
    /* background-color: rgb(167, 167, 199);*/
    height: 300px;
    width: 100%;
}

img.logos{
    height: 80px ;
}

img.logos:hover{
    filter: brightness(90%);
}